<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <configSections>
    <section name="csr" type="CodeRunner.CsrSection, CodeRunner, Version=4.1.0.0, Culture=neutral, PublicKeyToken=20af5850399c8643" />
  </configSections>
  <csr>
    <settings>
      <!--
      All these settings can be overidden by setting the CSR_CONFIG environment variable, e.g. CSR_CONFIG=DebugMessegas=yes;StackTrackes=yes
      will turn on debug messages and stack traces.
      -->
      
      <!--
      This setting determines whether the utility displays diagnostic debug information.
      -->
      <add key="DebugMessages" value="no" />

      <!--
      This setting determines whether the utility outputs stack traces with method, file and line number information for script exceptions.  This will make
      scripts run slightly slower as debug information must be generated for the script when it is compiled. Also the script will not be optimized
      when compiled.
      -->
      <add key="StackTraces" value="yes" />

      <!--
      If set then the utility will search for source files of the given name in the directories specified in the system PATH environment variable.
      -->
      <add key="SearchSystemPath" value="yes" />

      <!--
      If set then scripts can contain unsafe code.
      -->
      <add key="AllowUnsafeCode" value="yes" />
    </settings>
  </csr>
  <startup>
    <supportedRuntime version="v4.0.30319"/>
  </startup>
</configuration>