<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scaffold" type="CodeRunner.ScaffoldSection, CodeRunner, Version=4.1.0.0, Culture=neutral, PublicKeyToken=20af5850399c8643" />
  </configSections>
  <scaffold>
    <settings>
      <!--
      All these settings can be overidden by setting the SCAFFOLD_CONFIG environment variable, e.g. CSR_CONFIG=ScrapeReferences=no;Verbose=no
      will turn off the scraping of references and verbose output.
      -->

      <!--
			  This setting disables mechanism which spawns an instance of scaffold to wait for VS to terminate.
		  -->
		  <add key="NoRemoting" value="no" />
      <!--
			  This setting enables verbose output.
		  -->
      <add key="Verbose" value="no" />
    </settings>
  </scaffold>
  <startup>
    <supportedRuntime version="v4.0.30319"/>
  </startup>
</configuration>